{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "globals": {
        "document": true,
        "window": true
    },
    "rules": {
        "no-unused-vars": 0,
        "max-len": [1, 120, 2, {"ignoreComments": true}],
        "react/prop-types": [1, {"ignore": ["children"]} ],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-uses-vars": 1,
        "react/react-in-jsx-scope": 1
    }
}