<div class="container anim-slide-below-fade" data-anim-sync id="main">

  <div class="some-awesome-intro">
    <h1>See Inspirations</h1>
    <p>
      Looking for things to do in Bangkok? Something new, someting different? Here are our best picks of local 1-day trips<br>
      in/from Bangkok ,categorized in various aspects, just for you to check out.
    </p>
  </div>

  <div class="gallery">
    <div class="row" ng-repeat="layout in main.inspirations_layouts">
      <!-- TODO: Better to create item as directive -->
      <div class="item" ng-class="'col-'+item.size" ng-repeat="item in layout.columns">
        <a href="#/inspiration/{{item._id}}">
          <div class="wrap">
            <div class="name">
              {{item.inspiration_id.name}}
            </div>
            <img class="thumbnail" ng-src="{{'assets/images/'+item.inspiration_id.thumbnail_media_id.file_name}}">
          </div>
        </a>
      </div>
    </div>
  </div>

  <button class="ui button see-all">
    <i class="icon idea"></i>
    All inspirations
  </button>

</div>
